{% extends "layout.html" %}

{% block content %}

<h2 align=center>{{ title }}.</h2>
<h3 align=center>{{ message }}</h3>

<p>
    Dick's Sporting Goods is a North American enterprise headquarted in Pennsylvania with 730 stores all across the United States of America. Their services include, but are
    not limited to various sporting equiptment, athletic clothing, shoes, gear for outdoor activites and limited food and drink items. They also contain various services to fix and uphold gear used for the aforementioned products.
</p>

<p>
    For contact information reagrding the Dick's Sporting Goods Enterprise, please reference the contact page for more information.
</p>

<p></p>
<p></p>
<h3 align=center>{{ mission }}</h3>
<p></p>
<p></p>

<p>
    We create an inclusive environment where passionate, skilled, and diverse teammates thrive.
    We create and build leading brands that serve and inspire athletes.
    We deliver shareholder value through growth and relentless improvement.
    We make a lasting impact on communities through sport. - Dick's Sporting Goods Website
</p>

{% endblock %}
