{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<form action="catelog.html">
    <img src="https://dks.scene7.com/is/image/dkscdn/21NIKMPGSS38BLCKPRNN_Black_Volt_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="left" width="100px" height="75px">
    <label for="rshoes" align="left"> Running Shoes: </label>
    <select name="rshoes" id="rshoes">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>

    <img src="https://dks.scene7.com/is/image/dkscdn/19WILUJTVLTNWMNSBBKB_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="center" width="100px" height="75px">
    <label for="bball" align="center"> Basketball: </label>
    <select name="bball" id="bball">
        <option value="27.5">27.5</option>
        <option value="28.5">28.5</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>

    <img src="https://dks.scene7.com/is/image/dkscdn/19GLTUGLTH50WRRRXBKE_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="right" width="100px" height="75px">
    <label for="bball_hoop" align="right">Basketball Hoop: </label>
    <select name="bball_hoop" id="bball_hoop">
        <option value="in-ground">In-ground</option>
        <option value="portable">Portable</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>
</form>

<form action="catelog.html">
    <img src="https://dks.scene7.com/is/image/dkscdn/18UARMTCHSSTXXXXXAPTA_Baroque_Green_Black_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="left" width="100px" height="75px">
    <label for="tshirt" align="left">T-Shirt: </label>
    <select name="tshirt" id="tshirt">
        <option value="extrasmall">XS</option>
        <option value="small">SM</option>
        <option value="medium">MD</option>
        <option value="large">LG</option>
        <option value="extralarge">XL</option>
        <option value="doublexl">XXL</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>

    <img src="https://dks.scene7.com/is/image/dkscdn/20ADIMPSTGMLTHDXXAFT_Crew_Red_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="center" width="100px" height="75px">
    <label for="hoodie" align="center">Hoodie: </label>
    <select name="hoodie" id="hoodie">
        <option value="extrasmall">XS</option>
        <option value="small">SM</option>
        <option value="medium">MD</option>
        <option value="large">LG</option>
        <option value="extralarge">XL</option>
        <option value="doublexl">XXL</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>

    <img src="https://dks.scene7.com/is/image/dkscdn/20NIKMMNKDFMLRTPSAPT_Astronomy_Blue_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="center" width="100px" height="75px">
    <label for="rshirt" align="right">Running Shirt: </label>
    <select name="rshirt" id="rshirt">
        <option value="extrasmall">XS</option>
        <option value="small">SM</option>
        <option value="medium">MD</option>
        <option value="large">LG</option>
        <option value="extralarge">XL</option>
        <option value="doublexl">XXL</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>
</form>

<form action="catelog.html">
    <img src="https://dks.scene7.com/is/image/GolfGalaxy/20UARMLFTCHSTCTFFAPT_Steel_Light_Heather_Steel?qlt=70&wid=1100&fmt=webp" align="left" width="100px" height="75px">
    <label for="tanktop" align="left">Tank Top: </label>
    <select name="tanktop" id="tanktop">
        <option value="extrasmall">XS</option>
        <option value="small">SM</option>
        <option value="medium">MD</option>
        <option value="large">LG</option>
        <option value="extralarge">XL</option>
        <option value="doublexl">XXL</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>

    <img src="https://dks.scene7.com/is/image/dkscdn/20NIKWYG78TGHTXXXAPBX_Particle_Grey_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="center" width="100px" height="75px">
    <label for="yogapants" align="center">Yoga Pants: </label>
    <select name="yogapants" id="yogapants">
        <option value="extrasmall">XS</option>
        <option value="small">SM</option>
        <option value="medium">MD</option>
        <option value="large">LG</option>
        <option value="extralarge">XL</option>
        <option value="doublexl">XXL</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>

    <img src="https://dks.scene7.com/is/image/dkscdn/16RAWUFFCLLGCRPGRBSB_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="right" width="100px" height="75px">
    <label for="baseball" align="right">Baseball: </label>
    <select name="baseball" id="baseball">
        <option value="single">1 Ball</option>
        <option value="sixpack">6 Pack</option>
        <option value="tpack">12 Pack</option>
        <option value="tfpack">24 Pack</option>
        <option value="tspack">36 Pack</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>
</form>

<form action="catelog.html">
    <img src="https://dks.scene7.com/is/image/dkscdn/20MCCYCT9SL10234XBBB_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="left" width="100px" height="75px">
    <label for="ballbat" align="left">Baseball Bat: </label>
    <select name="ballbat" id="ballbat">
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
        <option value="32">32</option>
        <option value="33">33</option>
        <option value="34">34</option>
        <option value="wooden">Wooden</option>
        <option value="tball">T-ball</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>

    <img src="https://dks.scene7.com/is/image/dkscdn/20WILA1152000SC17SGL_Blonde_Tan_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="center" width="100px" height="75px">
    <label for="baseballglove" align="center">Baseball Glove: </label>
    <select name="baseballglove" id="baseballglove">
        <option value="firstbase">Firstbase</option>
        <option value="outfield">Outfield</option>
        <option value="catcher">Catcher</option>
        <option value="pitcher">Pitcher</option>
        <option value="infield">Infield</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>

    <img src="https://dks.scene7.com/is/image/dkscdn/20NIKMNKVRYDYCSHCAPA_White_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="right" width="100px" height="75px">
    <label for="socks" align="right">Socks: </label>
    <select name="socks" id="socks">
        <option value="xsmall">XS</option>
        <option value="small">SM</option>
        <option value="medium">MD</option>
        <option value="large">LG</option>
        <option value="xlarge">XL</option>
        <option value="xxlarge">XXL</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>
</form>

<form action="catelog.html">
    <img src="https://dks.scene7.com/is/image/dkscdn/19NIKMMNPSHRTXXXXAPB_Smke_Gry_Lt_Smke_Gry_Blk_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="left" width="100px" height="75px">
    <label for="compressionshorts" align="left">Compression Shorts: </label>
    <select name="compressionshorts" id="compressionshorts">
        <option value="xsmall">XS</option>
        <option value="small">SM</option>
        <option value="medium">MD</option>
        <option value="large">LG</option>
        <option value="xlarge">XL</option>
        <option value="xxlarge">XXL</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>

    <img src="https://dks.scene7.com/is/image/dkscdn/20MNNMNFLBRS85MCMCHI_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="center" width="100px" height="75px">
    <label for="teamjersey" align="center">Jersey: </label>
    <select name="teamjersey" id="teamjersey">
        <option value="packers">Green Bay Packers</option>
        <option value="bears">Chicago Bears</option>
        <option value="bulls">Chicago Bulls</option>
        <option value="bhawks">Chicago Blackhawks</option>
        <option value="knights">Vegas Knights</option>
        <option value="seahawks"> Seattle Seahawks</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>

    <img src="https://dks.scene7.com/is/image/dkscdn/20CA2WNPRNBCKPCKMTHR_Gray_Heather_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="right" width="100px" height="75px">
    <label for="backpack" align="right">Backpack: </label>
    <select name="backpacks" id="backpacks">
        <option value="28L">28L</option>
        <option value="30L">30L</option>
        <option value="32L">32L</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>
</form>

<form action="catelog.html">
    <img src="https://dks.scene7.com/is/image/dkscdn/19HFLU40ZWDMTHXXXHYD_Alpine_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="left" width="100px" height="75px">
    <label for="waterbottle" align="left">Waterbottle: </label>
    <select name="waterbottle" id="waterbottle">
        <option value="yeti">Yeti</option>
        <option value="hydro">Hydroflask</option>
        <option value="nalgene">Nalgene</option>
        <option value="gatorade">Gatorade</option>
        <option value="powerade">Powerade</option>
        <option value="dicks">Dick's Sporting Goods</option>
        <option value="shaker">Shaker</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>

    <img src="https://dks.scene7.com/is/image/dkscdn/21YOBUGGNSQDGRNSPROD_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="center" width="100px" height="75px">
    <label for="fishingrod" align="center">Fishing Rod: </label>
    <select name="fishingrod" id="fishingrod">
        <option value="sporting">Sporting Rod</option>
        <option value="deepsea">Deepsea Rod</option>
        <option value="carbonfiber">Carbon Fiber</option>
        <option value="onshore">Onshore rod</option>
        <option value="trout">Trout Rod</option>
        <option value="bass">Bass Rod</option>
        <option value="competition">Competition Rod</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>

    <img src="https://dks.scene7.com/is/image/dkscdn/20YOBAGSCLCKBT38BLUR_Sunrise_Craw_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="right"  width="100px" height="75px">
    <label for="bait" align="right">Bait: </label>
    <select name="bait" id="bait">
        <option value="plug">Plug lure</option>
        <option value="jig">Jig lure</option>
        <option value="spinner">Spinnerbait lure</option>
        <option value="spoon">Spoon lure</option>
        <option value="soft">Soft Plastic lure</option>
        <option value="flies">Flies lure</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>
</form>

<form action="catelog.html">
    <img src="https://dks.scene7.com/is/image/dkscdn/21QUEU8PCRSSVNTTNCAT_Blue_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="left" width="100px" height="75px">
    <label for="tent" align="left">Tent: </label>
    <select name="tent" id="tent">
        <option value="backpacking">Backpacking</option>
        <option value="popup">Pop-Up</option>
        <option value="bell">Bell</option>
        <option value="dome">Dome</option>
        <option value="tunnel">Tunnel</option>
        <option value="cabin">Cabin</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>

    <img src="https://dks.scene7.com/is/image/dkscdn/16CMBWNWTNRDGPLSWFBO_Light_Lichen_Canvas_Tan_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="center" width="100px" height="75px">
    <label for="hikingboots" align="center">Hiking Boots: </label>
    <select name="hikingboots" id="hikinhboots">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>

    <img src="https://dks.scene7.com/is/image/dkscdn/18HEDYDFNCYTHXXXXSSP_Black_Multi_is/?wid=252&hei=252&qlt=85,0&fmt=jpg&op_sharpen=1" align="right" width="100px" height="75px">
    <label for="snowboard" align="right">Snowboard: </label>
    <select name="snowboard" id="snowboard">
        <option value="beginner">Beginner</option>
        <option value="freestyle">Freestyle</option>
        <option value="allmountain">All-Mountain</option>
        <option value="aggressive">Aggressive</option>
        <option value="freeride">Freeride</option>
        <option value="powder">Powder</option>
    </select>
    <button type="submit" value="Add to Order" formmethod="POST"> Add to Order </button>
</form>
{% endblock %}